html{
  scroll-behavior: smooth !important;
}
body{
margin:0 auto;
padding: 0px;
}

header{
  background:linear-gradient(100deg,rgb(103,66,150),rgb(54,28,88));
  height: 100vh;
  width: 100%;
  position:relative;
  overflow: hidden;
}

@media only screen and (min-width:900px) {
  .nav-center{
  background: #fff;
  position: relative;
  }
  .nav{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0px;
    margin:0px;
    position: static;

  }
  header ul li a{
    text-decoration: none;
    color:#fff;
    font-size: 20px;
  }
  #toggle-btn{
    display: none;
  }
}
/*Menu box that comes from left side of header min-width: 380px*/
@media only screen and (min-width:370px) {
  .nav-center{
    background: #fff;
    position: relative;

  }

  .nav{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0px;
    margin:0px;
    position: static;
    background: green;

  }
  #toggle-btn{
    position: absolute;
    display: block;
    right: 10px;
    top:10px;
    font-size: 30px;
    color:yellow;
  }
  header ul li a{
    text-decoration: none;
    color:linear-gradient(100deg,rgb(103,66,150),rgb(54,28,88));
    font-size: 20px;
  }
}



/* Main section */
h1{
  text-align: center;
}
.mainBox ul{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(3,minmax(200px,auto));
  grid-gap: 10px;
  padding: 0px;
}
.mainBox ul li{
  background: rgba(31, 45, 65, 0.03);;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  list-style: none;
}

/* @media only screen and (min-width:900px;){
  .humburger{
    position: relative;
    right: 10px;
    top:10px;
    font-size: 70px;
    color:red;
    display:block;
    z-index: 20;
  }

} */
/* @keyframes slideDown {
  from{
    transform: translateY(-100px);
  }
  to{
    transform: translateY(0px);
  }
} */
/* .nav-center.scrollingBackground{
  background: linear-gradient(100deg,rgb(103,66,150),rgb(54,28,88));
  animation: slideDown .7s;
} */

/* #one{
  grid-area: one;
}
#two{
  grid-area: two;
}
#three{
  grid-area: three;
}
#four{
  grid-area: four;
}
#five{
  grid-area: five;
}
#six{
  grid-area: six;
}
#seven{
  grid-area: seven;
}
#eight{
  grid-area: eight;
}
#nine{
  grid-area: nine;
} */
