
body{
  margin: 0px;
}
header{
  height: vh;
  width: 100%;
  background:purple;
}

.toggle-header{
  position: fixed;
  top:20px;
  right:30px;
}
ul li a{
  font-size: 20px;
  color: white;
  text-decoration: none;
}
@media only screen and (min-width: 300px){
  .nav-center {
    width:15em;
  }
  /* default value which shows menu in small screen */
  .nav{
    margin:0px;
    list-style: none;
    display: flex;
    justify-content:space-around;
    align-items: center;
    list-style: none;
    flex-direction: column;
    height: 300px;
    background: green;
    transform: translate(0%);
    transition: .7s;
  }
  /* when user toggels menu it will be hidden */
  .nav.hide{
    transform: translate(-100%);
  }
  .nav li{
    margin:0px;
    padding: 0px;
  }
  .toggle-header i{
    display: block;
    color:#fff;
    font-size: 20px;
  }
}
@media only screen and (min-width: 900px){
  .nav-center{
    width:100%;
  }
  .nav{
    margin:0px;
    background: green;
    list-style: none;
    display:flex;
    justify-content:space-around;
    list-style: none;
    flex-direction:row;
    align-items: center;
    height: 100px;
  }
  /* when user stretch the browser when it is hidden this brings back to normal visible menu in large size */
  .nav.hide{
    transform: translate(0%);
  }
  .toggle-header i{
    display: none;
  }
}
