
body{
  margin: 0px;
  background: #fff;
}
header{
  height: vh;
  width: 100%;
  background:linear-gradient(100deg,rgb(103,66,150),rgb(54,28,88));
}
.nav-center{
  position:relative;
  left:0px;
  top:0px;
  width: 100%;
  display:flex;
  justify-content:space-around;
  list-style: none;
  flex-direction:row;
  align-items: center;
  height: 100px;
}
.toggle-header{
  position: fixed;
  top:20px;
  right:30px;
}
.logo{
  position: absolute;
  left:10px;
  top:-20px;
  z-index: 10;
}
ul li a{
  font-size: 20px;
  color: white;
  text-decoration: none;
}
@media only screen and (min-width: 300px){
  /* default value which shows menu in small screen */
  .nav{
    position: absolute;
    top:100px;
    left:0px;
    padding: 0px;
    width:100%;
    margin:0px;
    list-style: none;
    display: flex;
    justify-content:space-around;
    align-items: flex-start;
    list-style: none;
    flex-direction: column;
    background:linear-gradient(100deg,rgb(103,66,150),rgb(54,28,88));
    transform: translateY(-200%);
    transition: 2s;
    z-index: -1;


  }
  /* when user toggels menu it will be hidden */
  .nav.hide{
    transform: translateY(0%);
    transition: 1s;
    z-index: -1;
  }
   .nav li{
    width: 100%;
    margin-bottom:10px;
    padding: 0px;
    padding-left: 10px;
  }
  .nav li:hover{
    opacity: 0.4;
    background: rgba(0, 0, 0, 0.5);
  }
  .toggle-header i{
    display: block;
    color:#fff;
    font-size: 25px;
    transition: .5s;
  }
  .toggle-header i:hover{
    transform: rotate(180deg);
  }

}
@media only screen and (min-width: 900px){

  /* when user stretch the browser when it is hidden this brings back to normal visible menu in large size */
  .nav{
      position: relative;
      right: 0px;
      top:75px;
      width: 600px;
      flex-direction: row;
      align-items:center;
      display: flex;
      z-index: 1;
      background:none;

    }
    .nav.hide{
      transform: translateY(-200%);
      z-index: 1;
    }
    .nav li{
      flex: 0 0 100px;
    }
  .toggle-header i{
    display: none;
  }
}
